<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chiara.accessibilityservices">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA"/>

    <application>
        <activity
            android:name=".ScreenshotActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
        </activity>

        <activity android:name=".MainService" />
        <service
            android:name=".MainService"
            android:description="@string/description"
            android:label="Chiara_Select2Speak"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

        </service>

        <meta-data android:name="com.google.android.gms.vision.DEPENDENCIES" android:value="ocr"/>
    </application>

</manifest>